@using MStart.Common
@using MStart.Common.App_LocalResources;
@using MStart.UIHelper.PagedList
@model IEnumerable<MStart.Models.TranactionViewModel>


@{
    Layout = null;
}

@if (Model == null || !Model.Any())
{
    <div class="text-center">
        @Resource.NoData
    </div>
    return;
}

@{
    var pagedListModel = (IPagedListModel)Model;
    pagedListModel.ItemId = Guid.NewGuid().ToString();
}



@using (Html.BeginForm("Index", "Transaction", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div id="@pagedListModel.ItemId" role="treegrid" class="searchRequests cchi-grid">
        <section class="login_wrapper">
            <div class="container">
                <p>
                    @Html.ActionLink(@Resource.AddTransaction, "AddTranaction", new { AccountId=Model.FirstOrDefault().Account_ID} , null) |
                    @Html.ActionLink(@Resource.EditTransaction, "EditTranaction", new { AccountId = Model.FirstOrDefault().Account_ID }, null) |
                    <button type="submit" style="background-color:#106E36;color:white;" class="btn btn-default">@Resource.Delete</button>
                    @*@Html.ActionLink(@Resource.Delete, "Index")*@
                </p>
               
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="login">
                            <h2>@Resource.Accounts</h2>
                            <p class="login_subtext">@Resource.Accounts</p>
                            <div class="login_form">
                                <form>
                                    <section class="data_table_section">
                                        <div class="container">
                                            <div class="row">
                                                <div class="data_table_container">
                                                    <table id="example2" class="table table-bordered table-hover table-striped">
                                                        <tr>
                                                            <th>
                                                                <input type="checkbox" name="chkboxheader" class="ckbox" id="chkboxheader" />
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Server_Date_Time)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Account_ID)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Amount)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Currency)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.DateTime_UTC)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Is_Credit)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.User_ID)
                                                            </th>
                                                        </tr>
                                                        @if (Model != null)
                                                        {
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td><input type="checkbox" name="empids" class="ckbox" value="@item.ID" id="chk1" /></td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Server_Date_Time)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Account_ID)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Amount)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Currency)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.DateTime_UTC)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Is_Credit)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.User_ID)
                                                                        </td>
                                                                        <td>
                                                                            @Html.ActionLink(@Resource.Edit, "EditTranaction", new { TranactionId = item.ID }) |
                                                                            @Html.ActionLink(@Resource.Delete, "DeleteTranaction", new { TranactionId = item.ID })
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        }
                                                        else
                                                        {
                                                            <tr>@Resource.NoData</tr>
                                                        }

                                                    </table>
                                                </div>
                                                @Html.Partial("~/Views/Shared/_PaginationPost.cshtml", pagedListModel)
                                            </div>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade login_modal" id="QuestionsModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div id="Questions"></div>
            </div>
        </div>
    </div>

}


<script>
    $(document).ready(function () {
        $("#chkboxheader").click(function () {
            debugger;
            if ($(this).is(":checked", true)) {
                $(".ckbox").prop("checked", true)
            }
            else {
                $(".ckbox").prop("checked", false)
            }
        });
    });
</script>

